---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - umo.nofacepeace.github.io
  resources:
  - middlewares
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - umo.nofacepeace.github.io
  resources:
  - middlewares/finalizers
  verbs:
  - update
- apiGroups:
  - umo.nofacepeace.github.io
  resources:
  - middlewares/status
  verbs:
  - get
  - patch
  - update
