---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - umo.localhost
  resources:
  - umoclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - umo.localhost
  resources:
  - umoclusters/finalizers
  verbs:
  - update
- apiGroups:
  - umo.localhost
  resources:
  - umoclusters/status
  verbs:
  - get
  - patch
  - update
